{% extends "inventory/base.html" %}
{% block content %}
<h2>{{ title }}</h2>
<form method="post" class="form">{% csrf_token %}
  {{ form.non_field_errors }}
  <div>
    <label>SKU</label>
    {{ form.sku }}
    {{ form.sku.errors }}
  </div>
  <div>
    <label>Name</label>
    {{ form.name }}
    {{ form.name.errors }}
  </div>

  {% if product %}
    <div>
      <label>Code4 (tự sinh, không sửa)</label>
      <input value="{{ product.code4 }}" disabled>
    </div>
  {% endif %}

  <button type="submit">Lưu</button>
  <a href="{% url 'product_list' %}">Huỷ</a>
</form>
{% endblock %}
