<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'erp_dashboard' %}">Hệ thống quản lý nhân sự</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample" aria-controls="navbarsExample" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><a class="nav-link" href="{% url 'erp_dashboard' %}">Tổng quan</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'erp_departments' %}">Dữ liệu nền - Phòng ban</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'erp_positions' %}">Dữ liệu nền - Chức vụ</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'erp_employees' %}">Dữ liệu nền - Nhân viên</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'erp_shifts' %}">Ca làm việc</a></li>
      </ul>
      <span class="navbar-text text-white-50">Hôm nay: {% now "l, d/m/Y" %}</span>
    </div>
  </div>
</nav>
